Fit: "FitTtres_zp3tev"
  Label: "t#bar{t} resonance"
  CmeLabel: "13 TeV"
  LumiLabel: "20 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "ttres"
  FitType: CONTROLSIGNAL
%  FitType: CONTROL
  DebugLevel: 0
  SystControlPlots: TRUE

  
Region: "bmu"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mtt_bmu"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted #mu"
  ShortLabel: "bmu"

Region: "be"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mtt_be"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted e"
  ShortLabel: "be"

Region: "rmu"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mtt_rmu"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Resolved #mu"
  ShortLabel: "rmu"

Region: "re"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mtt_re"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Resolved e"
  ShortLabel: "re"
  
Sample: "Data"
  Title: "Data 2015"
  Type: data
  HistoFile: "hist_data"
    
%Sample: "Zjets"
%  Type: BACKGROUND
%  Title: "Z+jets"
%  FillColor: 400
%  LineColor: 1
%  HistoFile: "hist_zjets"

%Sample: "singletop"
%  Type: BACKGROUND
%  Title: "singletop"
%  FillColor: 593
%  LineColor: 1
%  HistoFile: "hist_singletop"

%Sample: "Wjets"
%  Type: BACKGROUND
%  Title: "W+jets"
%  FillColor: 591
%  LineColor: 1
%  HistoFile: "hist_wjets"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  FillColor: 0
  LineColor: 1
  HistoFile: "hist_ttbar"


Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "hist_zp3tev"
  
%Systematic: "JES"
%  Title: "Jet Energy Scale"
%  Type: HISTO
%  HistoNameSufUp: "_jesUp"
%  HistoNameSufDown: "_jesDown"
%  Samples: ttbar,Wjets,Zjets,singletop,Signal
%  Smoothing: 40
%  Symmetrisation: TwoSided
  
Systematic: "ttbarXsec"
  Title: "ttbar Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttbar

