Fit: "FitTtres_zp2tev"
  Label: "t#bar{t} resonance"
  CmeLabel: "13 TeV"
  LumiLabel: "10 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "ttres"
  FitType: CONTROLSIGNAL
%  FitType: CONTROL
  DebugLevel: 0
  SystControlPlots: TRUE

  
Region: "bmu"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mttbmu"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted #mu"
  ShortLabel: "bmu"

Region: "be"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "mttbe"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted e"
  ShortLabel: "be"

%Region: "rmu"
%%   Type: SIGNAL
%  Type: CONTROL
%  HistoName: "mttrmu"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved #mu"
%  ShortLabel: "rmu"

%Region: "re"
%%   Type: SIGNAL
%  Type: CONTROL
%  HistoName: "mttre"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved e"
%  ShortLabel: "re"
  
Sample: "Data"
  Title: "Data 2015"
  Type: data
  HistoFile: "hist_data"
    
%Sample: "Zjets"
%  Type: BACKGROUND
%  Title: "Z+jets"
%  FillColor: 400
%  LineColor: 1
%  HistoFile: "hist_zjets"

%Sample: "singletop"
%  Type: BACKGROUND
%  Title: "singletop"
%  FillColor: 593
%  LineColor: 1
%  HistoFile: "hist_singletop"

%Sample: "Wjets"
%  Type: BACKGROUND
%  Title: "W+jets"
%  FillColor: 591
%  LineColor: 1
%  HistoFile: "hist_wjets"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  FillColor: 0
  LineColor: 1
  HistoFile: "hist_ttbar"


Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "hist_zp2tev"
  
Systematic: "JES1"
  Title: "Jet Energy Scale 1"
  Type: HISTO
  HistoNameSufUp: "JET_NPScenario1_JET_GroupedNP_1__1up"
  HistoNameSufDown: "JET_NPScenario1_JET_GroupedNP_1__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "JES2"
  Title: "Jet Energy Scale 2"
  Type: HISTO
  HistoNameSufUp: "JET_NPScenario1_JET_GroupedNP_2__1up"
  HistoNameSufDown: "JET_NPScenario1_JET_GroupedNP_2__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "JES3"
  Title: "Jet Energy Scale 3"
  Type: HISTO
  HistoNameSufUp: "JET_NPScenario1_JET_GroupedNP_3__1up"
  HistoNameSufDown: "JET_NPScenario1_JET_GroupedNP_3__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "JER"
  Title: "Jet Energy Resolution"
  Type: HISTO
  HistoNameSufUp: "JET_JER_SINGLE_NP__1up"
  HistoNameSufDown: "JET_JER_SINGLE_NP__1up"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "METPara"
  Title: "MET Para"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ResoPara"
  HistoNameSufDown: "MET_SoftTrk_ResoPara"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "METPerp"
  Title: "MET Perp"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ResoPerp"
  HistoNameSufDown: "MET_SoftTrk_ResoPerp"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "METScale"
  Title: "MET Scale"
  Type: HISTO
  HistoNameSufUp: "MET_SoftTrk_ScaleUp"
  HistoNameSufDown: "MET_SoftTrk_ScaleDown"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "MuonID"
  Title: "Muon ID"
  Type: HISTO
  HistoNameSufUp: "MUONS_ID__1up"
  HistoNameSufDown: "MUONS_ID__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "MuonMS"
  Title: "Muon MS"
  Type: HISTO
  HistoNameSufUp: "MUONS_MS__1up"
  HistoNameSufDown: "MUONS_MS__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "MuonScale"
  Title: "Muon Scale"
  Type: HISTO
  HistoNameSufUp: "MUONS_SCALE__1up"
  HistoNameSufDown: "MUONS_SCALE__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "ElectronRes"
  Title: "Electron Resolution"
  Type: HISTO
  HistoNameSufUp: "EG_RESOLUTION_ALL__1up"
  HistoNameSufDown: "EG_RESOLUTION_ALL__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided

Systematic: "ElectronScale"
  Title: "Electron Scale"
  Type: HISTO
  HistoNameSufUp: "EG_SCALE_ALL__1up"
  HistoNameSufDown: "EG_SCALE_ALL__1down"
  Samples: ttbar,Signal
  Smoothing: 40
  Symmetrisation: TwoSided
  
Systematic: "ttbarXsec"
  Title: "ttbar Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: ttbar

