Job: "JobTtres"
  Label: "t#bar{t} resonance"
  CmeLabel: "13 TeV"
  LumiLabel: "3.2 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "."
  FitType: SPLUSB
  DebugLevel: 0
  SystControlPlots: TRUE
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  MCstatThreshold: 0.01
  ImageFormat: eps

Fit: "FitTtres"
  FitType: SPLUSB


Region: "be"
  Type: SIGNAL
  HistoName: "xboostede"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted e"
  ShortLabel: "be"
  LogScale: TRUE
  
Region: "bmu"
  Type: SIGNAL
  HistoName: "xboostedmu"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted #mu"
  ShortLabel: "bmu"
  LogScale: TRUE

%Region: "re"
%  Type: SIGNAL
%  HistoName: "xresolvede"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved e"
%  ShortLabel: "re"
%  LogScale: TRUE

%Region: "rmu"
%  Type: SIGNAL
%  HistoName: "xresolvedmu"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved #mu"
%  ShortLabel: "rmu"
%  LogScale: TRUE

  
Sample: "Data"
  Title: "Data 2015"
  Type: data
  HistoFile: "hist_data"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  LineColor: 1
  HistoFile: "hist_ttbar"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 92
  HistoFile: "hist_Wjets"

    
Sample: "singletop"
  Type: BACKGROUND
  Title: "singletop"
  FillColor: 62
  HistoFile: "hist_singletop"

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 95
  HistoFile: "hist_Zjets"


Sample: "QCDe"
  Type: BACKGROUND
  Title: "multi-jet e"
  FillColor: 9
  HistoFile: "hist_QCDe"

Sample: "QCDmu"
  Type: BACKGROUND
  Title: "multi-jet mu"
  FillColor: 9
  HistoFile: "hist_QCDmu"


Sample: "VV"
  Type: BACKGROUND
  Title: "diboson"
  FillColor: 5
  HistoFile: "hist_VV"

% SIGNAL

% example for signal
%Sample: "Signal"
%  Type: SIGNAL
%  Title: "Z prime 2 TeV"
%  LineColor: 632
%  NormFactor: "SigXsecOverSM",0,0,100
%  HistoFile: "hist_Zprime2000"
  
Systematic: "akt4jes1"
  Title: "Jet Energy Scale 1"
  Type: HISTO
  HistoNameSufUp: "akt4jes1up"
  HistoNameSufDown: "akt4jes1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jes2"
  Title: "Jet Energy Scale 2"
  Type: HISTO
  HistoNameSufUp: "akt4jes2up"
  HistoNameSufDown: "akt4jes2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jes3"
  Title: "Jet Energy Scale 3"
  Type: HISTO
  HistoNameSufUp: "akt4jes3up"
  HistoNameSufDown: "akt4jes3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jer"
  Title: "Jet Energy Resolution"
  Type: HISTO
  HistoNameSufUp: "akt4jerup"
  HistoNameSufDown: "akt4jerup"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "akt10xcalib"
  Title: "Akt10 Cross calib"
  Type: HISTO
  HistoNameSufUp: "akt10xcalibup"
  HistoNameSufDown: "akt10xcalibdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt10run1"
  Title: "Akt10 Run 1"
  Type: HISTO
  HistoNameSufUp: "akt10run1up"
  HistoNameSufDown: "akt10run1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "metrespara"
  Title: "MET Para"
  Type: HISTO
  HistoNameSufUp: "metresparaup"
  HistoNameSufDown: "metresparaup"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "metresperp"
  Title: "MET Perp"
  Type: HISTO
  HistoNameSufUp: "metresperpup"
  HistoNameSufDown: "metresperpup"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "metscale"
  Title: "MET Scale"
  Type: HISTO
  HistoNameSufUp: "metscaleup"
  HistoNameSufDown: "metscaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muresid"
  Title: "Muon ID"
  Type: HISTO
  HistoNameSufUp: "muresidup"
  HistoNameSufDown: "muresiddw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muresms"
  Title: "Muon MS"
  Type: HISTO
  HistoNameSufUp: "muresmsup"
  HistoNameSufDown: "muresmsdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muscale"
  Title: "Muon Scale"
  Type: HISTO
  HistoNameSufUp: "muscaleup"
  HistoNameSufDown: "muscaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eres"
  Title: "Electron Resolution"
  Type: HISTO
  HistoNameSufUp: "eresup"
  HistoNameSufDown: "eresdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "escale"
  Title: "Electron Scale"
  Type: HISTO
  HistoNameSufUp: "escaleup"
  HistoNameSufDown: "escaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "etrig"
  Title: "e Trig SF"
  Type: HISTO
  HistoNameSufUp: "etrigup"
  HistoNameSufDown: "etrigdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided
  
Systematic: "erec"
  Title: "e Reco SF"
  Type: HISTO
  HistoNameSufUp: "erecup"
  HistoNameSufDown: "erecdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eid"
  Title: "e ID SF"
  Type: HISTO
  HistoNameSufUp: "eidup"
  HistoNameSufDown: "eiddw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eiso"
  Title: "e Isol SF"
  Type: HISTO
  HistoNameSufUp: "eisoup"
  HistoNameSufDown: "eisodw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "mutrigstat"
  Title: "mu Trig Stat SF"
  Type: HISTO
  HistoNameSufUp: "mutrigstatup"
  HistoNameSufDown: "mutrigstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "mutrigsyst"
  Title: "mu Trig Syst SF"
  Type: HISTO
  HistoNameSufUp: "mutrigsystup"
  HistoNameSufDown: "mutrigsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muidstat"
  Title: "mu ID Stat SF"
  Type: HISTO
  HistoNameSufUp: "muidstatup"
  HistoNameSufDown: "muidstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muidsyst"
  Title: "mu ID Syst SF"
  Type: HISTO
  HistoNameSufUp: "muidsystup"
  HistoNameSufDown: "muidsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muisolstat"
  Title: "mu Isol Stat SF"
  Type: HISTO
  HistoNameSufUp: "muisolstatup"
  HistoNameSufDown: "muisolstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muisolsyst"
  Title: "mu Isol Syst SF"
  Type: HISTO
  HistoNameSufUp: "muisolsystup"
  HistoNameSufDown: "muisolsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb0"
  Title: "Btag B SF 0"
  Type: HISTO
  HistoNameSufUp: "btagb0up"
  HistoNameSufDown: "btagb0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagb1"
  Title: "Btag B SF 1"
  Type: HISTO
  HistoNameSufUp: "btagb1up"
  HistoNameSufDown: "btagb1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb2"
  Title: "Btag B SF 2"
  Type: HISTO
  HistoNameSufUp: "btagb2up"
  HistoNameSufDown: "btagb2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb3"
  Title: "Btag B SF 3"
  Type: HISTO
  HistoNameSufUp: "btagb3up"
  HistoNameSufDown: "btagb3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb4"
  Title: "Btag B SF 4"
  Type: HISTO
  HistoNameSufUp: "btagb4up"
  HistoNameSufDown: "btagb4dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc0"
  Title: "Btag C SF 0"
  Type: HISTO
  HistoNameSufUp: "btagc0up"
  HistoNameSufDown: "btagc0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagc1"
  Title: "Btag C SF 1"
  Type: HISTO
  HistoNameSufUp: "btagc1up"
  HistoNameSufDown: "btagc1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc2"
  Title: "Btag C SF 2"
  Type: HISTO
  HistoNameSufUp: "btagc2up"
  HistoNameSufDown: "btagc2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc3"
  Title: "Btag C SF 3"
  Type: HISTO
  HistoNameSufUp: "btagc3up"
  HistoNameSufDown: "btagc3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl0"
  Title: "Btag L SF 0"
  Type: HISTO
  HistoNameSufUp: "btagl0up"
  HistoNameSufDown: "btagl0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl1"
  Title: "Btag L SF 1"
  Type: HISTO
  HistoNameSufUp: "btagl1up"
  HistoNameSufDown: "btagl1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagl2"
  Title: "Btag L SF 2"
  Type: HISTO
  HistoNameSufUp: "btagl2up"
  HistoNameSufDown: "btagl2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagl3"
  Title: "Btag L SF 3"
  Type: HISTO
  HistoNameSufUp: "btagl3up"
  HistoNameSufDown: "btagl3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl4"
  Title: "Btag L SF 4"
  Type: HISTO
  HistoNameSufUp: "btagl4up"
  HistoNameSufDown: "btagl4dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl5"
  Title: "Btag L SF 5"
  Type: HISTO
  HistoNameSufUp: "btagl5up"
  HistoNameSufDown: "btagl5dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl6"
  Title: "Btag L SF 6"
  Type: HISTO
  HistoNameSufUp: "btagl6up"
  HistoNameSufDown: "btagl6dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl7"
  Title: "Btag L SF 7"
  Type: HISTO
  HistoNameSufUp: "btagl7up"
  HistoNameSufDown: "btagl7dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl8"
  Title: "Btag L SF 8"
  Type: HISTO
  HistoNameSufUp: "btagl8up"
  HistoNameSufDown: "btagl8dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl9"
  Title: "Btag L SF 9"
  Type: HISTO
  HistoNameSufUp: "btagl9up"
  HistoNameSufDown: "btagl9dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl10"
  Title: "Btag L SF 10"
  Type: HISTO
  HistoNameSufUp: "btagl10up"
  HistoNameSufDown: "btagl10dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl11"
  Title: "Btag L SF 11"
  Type: HISTO
  HistoNameSufUp: "btagl11up"
  HistoNameSufDown: "btagl11dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btage0"
  Title: "Btag Extrap SF 0"
  Type: HISTO
  HistoNameSufUp: "btage0up"
  HistoNameSufDown: "btage0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btage1"
  Title: "Btag Extrap SF 1"
  Type: HISTO
  HistoNameSufUp: "btage1up"
  HistoNameSufDown: "btage1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "ttxsec"
  Title: "ttbar Cross-Section"
  Type: HISTO
  HistoNameSufUp: "ttxsecup"
  HistoNameSufDown: "ttxsecdw"
  Samples: ttbar

Systematic: "wmodel"
  Title: "W+jets C/A SF"
  Type: HISTO
  HistoNameSufUp: "wmodelup"
  HistoNameSufDown: "wmodeldw"
  Samples: Wjets

Systematic: "ttewk"
  Title: "Ttbar EWK corr."
  Type: HISTO
  HistoNameSufUp: "ttewkup"
  HistoNameSufDown: "ttewkdw"
  Samples: ttbar

Systematic: "lumi"
  Title: "Luminosity"
  Type: HISTO
  HistoNameSufUp: "lumiup"
  HistoNameSufDown: "lumidw"
  Samples: ttbar,Zjets,singletop,Signal,VV

Systematic: "ttgen"
  Title: "tt generator"
  Type: HISTO
  HistoNameSufUp: "ttgen"
  HistoNameSufDown: "ttgen"
  Samples: ttbar
  Symmetrisation: TwoSided

Systematic: "ttps"
  Title: "tt parton shower"
  Type: HISTO
  HistoNameSufUp: "ttps"
  HistoNameSufDown: "ttps"
  Samples: ttbar
  Symmetrisation: TwoSided

Systematic: "ttisrfsr"
  Title: "tt ISR/FSR"
  Type: HISTO
  HistoNameSufUp: "ttisrfsr"
  HistoNameSufDown: "ttisrfsr"
  Samples: ttbar
  Symmetrisation: TwoSided

Systematic: "ttpdf1"
  Title: "tt PDF 1"
  Type: HISTO
  HistoNameSufUp: "ttpdf1"
  HistoNameSufDown: "ttpdf1"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf2"
  Title: "tt PDF 2"
  Type: HISTO
  HistoNameSufUp: "ttpdf2"
  HistoNameSufDown: "ttpdf2"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf3"
  Title: "tt PDF 3"
  Type: HISTO
  HistoNameSufUp: "ttpdf3"
  HistoNameSufDown: "ttpdf3"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf4"
  Title: "tt PDF 4"
  Type: HISTO
  HistoNameSufUp: "ttpdf4"
  HistoNameSufDown: "ttpdf4"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf5"
  Title: "tt PDF 5"
  Type: HISTO
  HistoNameSufUp: "ttpdf5"
  HistoNameSufDown: "ttpdf5"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf6"
  Title: "tt PDF 6"
  Type: HISTO
  HistoNameSufUp: "ttpdf6"
  HistoNameSufDown: "ttpdf6"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf7"
  Title: "tt PDF 7"
  Type: HISTO
  HistoNameSufUp: "ttpdf7"
  HistoNameSufDown: "ttpdf7"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf8"
  Title: "tt PDF 8"
  Type: HISTO
  HistoNameSufUp: "ttpdf8"
  HistoNameSufDown: "ttpdf8"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf9"
  Title: "tt PDF 9"
  Type: HISTO
  HistoNameSufUp: "ttpdf9"
  HistoNameSufDown: "ttpdf9"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf10"
  Title: "tt PDF 10"
  Type: HISTO
  HistoNameSufUp: "ttpdf10"
  HistoNameSufDown: "ttpdf10"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf11"
  Title: "tt PDF 11"
  Type: HISTO
  HistoNameSufUp: "ttpdf11"
  HistoNameSufDown: "ttpdf11"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf12"
  Title: "tt PDF 12"
  Type: HISTO
  HistoNameSufUp: "ttpdf12"
  HistoNameSufDown: "ttpdf12"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf13"
  Title: "tt PDF 13"
  Type: HISTO
  HistoNameSufUp: "ttpdf13"
  HistoNameSufDown: "ttpdf13"
  Samples: ttbar
  Symmetrisation: OneSided


Systematic: "ttpdf13"
  Title: "tt PDF 13"
  Type: HISTO
  HistoNameSufUp: "ttpdf13"
  HistoNameSufDown: "ttpdf13"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf14"
  Title: "tt PDF 14"
  Type: HISTO
  HistoNameSufUp: "ttpdf14"
  HistoNameSufDown: "ttpdf14"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf15"
  Title: "tt PDF 15"
  Type: HISTO
  HistoNameSufUp: "ttpdf15"
  HistoNameSufDown: "ttpdf15"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf16"
  Title: "tt PDF 16"
  Type: HISTO
  HistoNameSufUp: "ttpdf16"
  HistoNameSufDown: "ttpdf16"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf17"
  Title: "tt PDF 17"
  Type: HISTO
  HistoNameSufUp: "ttpdf17"
  HistoNameSufDown: "ttpdf17"
  Samples: ttbar
  Symmetrisation: OneSided


Systematic: "ttpdf18"
  Title: "tt PDF 18"
  Type: HISTO
  HistoNameSufUp: "ttpdf18"
  HistoNameSufDown: "ttpdf18"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf19"
  Title: "tt PDF 19"
  Type: HISTO
  HistoNameSufUp: "ttpdf19"
  HistoNameSufDown: "ttpdf19"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf20"
  Title: "tt PDF 20"
  Type: HISTO
  HistoNameSufUp: "ttpdf20"
  HistoNameSufDown: "ttpdf20"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf21"
  Title: "tt PDF 21"
  Type: HISTO
  HistoNameSufUp: "ttpdf21"
  HistoNameSufDown: "ttpdf21"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf22"
  Title: "tt PDF 22"
  Type: HISTO
  HistoNameSufUp: "ttpdf22"
  HistoNameSufDown: "ttpdf22"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf23"
  Title: "tt PDF 23"
  Type: HISTO
  HistoNameSufUp: "ttpdf23"
  HistoNameSufDown: "ttpdf23"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf24"
  Title: "tt PDF 24"
  Type: HISTO
  HistoNameSufUp: "ttpdf24"
  HistoNameSufDown: "ttpdf24"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf25"
  Title: "tt PDF 25"
  Type: HISTO
  HistoNameSufUp: "ttpdf25"
  HistoNameSufDown: "ttpdf25"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf26"
  Title: "tt PDF 26"
  Type: HISTO
  HistoNameSufUp: "ttpdf26"
  HistoNameSufDown: "ttpdf26"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf27"
  Title: "tt PDF 27"
  Type: HISTO
  HistoNameSufUp: "ttpdf27"
  HistoNameSufDown: "ttpdf27"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf28"
  Title: "tt PDF 28"
  Type: HISTO
  HistoNameSufUp: "ttpdf28"
  HistoNameSufDown: "ttpdf28"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf29"
  Title: "tt PDF 29"
  Type: HISTO
  HistoNameSufUp: "ttpdf29"
  HistoNameSufDown: "ttpdf29"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "ttpdf30"
  Title: "tt PDF 30"
  Type: HISTO
  HistoNameSufUp: "ttpdf30"
  HistoNameSufDown: "ttpdf30"
  Samples: ttbar
  Symmetrisation: OneSided

Systematic: "qcde"
  Title: "Multijet (e)"
  Type: HISTO
  HistoNameSufUp: "qcdeup"
  HistoNameSufDown: "qcdedw"
  Samples: QCDe
  Symmetrisation: TwoSided

Systematic: "qcdmu"
  Title: "Multijet (mu)"
  Type: HISTO
  HistoNameSufUp: "qcdmuup"
  HistoNameSufDown: "qcdmudw"
  Samples: QCDmu
  Symmetrisation: TwoSided

