Job: "JobTtres"
  Label: "t#bar{t} resonance"
  CmeLabel: "13 TeV"
  LumiLabel: "3.3 fb^{-1}"
  LumiScale: 1.0
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "ttres33"
  FitType: SPLUSB
  DebugLevel: 0
  SystControlPlots: TRUE
  HistoChecks: NOCRASH


Fit: "FitTtres"
  FitType: SPLUSB

  
Region: "bmu"
  Type: SIGNAL
  HistoName: "xmu"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted #mu"
  ShortLabel: "bmu"

Region: "be"
  Type: SIGNAL
  HistoName: "xe"
  VariableTitle: "m_{tt} [TeV]"
  Label: "Boosted e"
  ShortLabel: "be"

%Region: "rmu"
%%   Type: SIGNAL
%  Type: CONTROL
%  HistoName: "xrmu"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved #mu"
%  ShortLabel: "rmu"

%Region: "re"
%%   Type: SIGNAL
%  Type: CONTROL
%  HistoName: "xre"
%  VariableTitle: "m_{tt} [TeV]"
%  Label: "Resolved e"
%  ShortLabel: "re"
  
%Sample: "Data"
%  Title: "Data 2015"
%  Type: data
%  HistoFile: "hist_data"
    
Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 95
  HistoFile: "hist_Zjets"

Sample: "singletop"
  Type: BACKGROUND
  Title: "singletop"
  FillColor: 62
  HistoFile: "hist_singletop"

Sample: "Wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 92
  HistoFile: "hist_Wjets"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  LineColor: 1
  HistoFile: "hist_ttbar"

Sample: "VV"
  Type: BACKGROUND
  Title: "diboson"
  FillColor: 5
  HistoFile: "hist_VV"

% SIGNAL
  
Systematic: "akt4jes1"
  Title: "Jet Energy Scale 1"
  Type: HISTO
  HistoNameSufUp: "akt4jes1up"
  HistoNameSufDown: "akt4jes1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jes2"
  Title: "Jet Energy Scale 2"
  Type: HISTO
  HistoNameSufUp: "akt4jes2up"
  HistoNameSufDown: "akt4jes2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jes3"
  Title: "Jet Energy Scale 3"
  Type: HISTO
  HistoNameSufUp: "akt4jes3up"
  HistoNameSufDown: "akt4jes3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "akt4jer"
  Title: "Jet Energy Resolution"
  Type: HISTO
  HistoNameSufUp: "akt4jer"
  HistoNameSufDown: "akt4jer"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "metrespara"
  Title: "MET Para"
  Type: HISTO
  HistoNameSufUp: "metrespara"
  HistoNameSufDown: "metrespara"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "metresperp"
  Title: "MET Perp"
  Type: HISTO
  HistoNameSufUp: "metresperp"
  HistoNameSufDown: "metresperp"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: OneSided

Systematic: "metscale"
  Title: "MET Scale"
  Type: HISTO
  HistoNameSufUp: "metscaleup"
  HistoNameSufDown: "metscaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muresid"
  Title: "Muon ID"
  Type: HISTO
  HistoNameSufUp: "muresidup"
  HistoNameSufDown: "muresiddw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muresms"
  Title: "Muon MS"
  Type: HISTO
  HistoNameSufUp: "muresmsup"
  HistoNameSufDown: "muresmsdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muscale"
  Title: "Muon Scale"
  Type: HISTO
  HistoNameSufUp: "muscaleup"
  HistoNameSufDown: "muscaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eres"
  Title: "Electron Resolution"
  Type: HISTO
  HistoNameSufUp: "eresup"
  HistoNameSufDown: "eresdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "escale"
  Title: "Electron Scale"
  Type: HISTO
  HistoNameSufUp: "escaleup"
  HistoNameSufDown: "escaledw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "etrig"
  Title: "e Trig SF"
  Type: HISTO
  HistoNameSufUp: "etrigup"
  HistoNameSufDown: "etrigdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided
  
Systematic: "erec"
  Title: "e Reco SF"
  Type: HISTO
  HistoNameSufUp: "erecup"
  HistoNameSufDown: "erecdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eid"
  Title: "e ID SF"
  Type: HISTO
  HistoNameSufUp: "eidup"
  HistoNameSufDown: "eiddw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "eiso"
  Title: "e Isol SF"
  Type: HISTO
  HistoNameSufUp: "eisoup"
  HistoNameSufDown: "eisodw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "mutrigstat"
  Title: "mu Trig Stat SF"
  Type: HISTO
  HistoNameSufUp: "mutrigstatup"
  HistoNameSufDown: "mutrigstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "mutrigsyst"
  Title: "mu Trig Syst SF"
  Type: HISTO
  HistoNameSufUp: "mutrigsystup"
  HistoNameSufDown: "mutrigsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muidstat"
  Title: "mu ID Stat SF"
  Type: HISTO
  HistoNameSufUp: "muidstatup"
  HistoNameSufDown: "muidstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muidsyst"
  Title: "mu ID Syst SF"
  Type: HISTO
  HistoNameSufUp: "muidsystup"
  HistoNameSufDown: "muidsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muisolstat"
  Title: "mu Isol Stat SF"
  Type: HISTO
  HistoNameSufUp: "muisolstatup"
  HistoNameSufDown: "muisolstatdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "muisolsyst"
  Title: "mu Isol Syst SF"
  Type: HISTO
  HistoNameSufUp: "muisolsystup"
  HistoNameSufDown: "muisolsystdw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb0"
  Title: "Btag B SF 0"
  Type: HISTO
  HistoNameSufUp: "btagb0up"
  HistoNameSufDown: "btagb0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagb1"
  Title: "Btag B SF 1"
  Type: HISTO
  HistoNameSufUp: "btagb1up"
  HistoNameSufDown: "btagb1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb2"
  Title: "Btag B SF 2"
  Type: HISTO
  HistoNameSufUp: "btagb2up"
  HistoNameSufDown: "btagb2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb3"
  Title: "Btag B SF 3"
  Type: HISTO
  HistoNameSufUp: "btagb3up"
  HistoNameSufDown: "btagb3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb4"
  Title: "Btag B SF 4"
  Type: HISTO
  HistoNameSufUp: "btagb4up"
  HistoNameSufDown: "btagb4dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagb5"
  Title: "Btag B SF 5"
  Type: HISTO
  HistoNameSufUp: "btagb5up"
  HistoNameSufDown: "btagb5dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc0"
  Title: "Btag C SF 0"
  Type: HISTO
  HistoNameSufUp: "btagc0up"
  HistoNameSufDown: "btagc0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagc1"
  Title: "Btag C SF 1"
  Type: HISTO
  HistoNameSufUp: "btagc1up"
  HistoNameSufDown: "btagc1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc2"
  Title: "Btag C SF 2"
  Type: HISTO
  HistoNameSufUp: "btagc2up"
  HistoNameSufDown: "btagc2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagc3"
  Title: "Btag C SF 3"
  Type: HISTO
  HistoNameSufUp: "btagc3up"
  HistoNameSufDown: "btagc3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl0"
  Title: "Btag L SF 0"
  Type: HISTO
  HistoNameSufUp: "btagl0up"
  HistoNameSufDown: "btagl0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl1"
  Title: "Btag L SF 1"
  Type: HISTO
  HistoNameSufUp: "btagl1up"
  HistoNameSufDown: "btagl1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagl2"
  Title: "Btag L SF 2"
  Type: HISTO
  HistoNameSufUp: "btagl2up"
  HistoNameSufDown: "btagl2dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided


Systematic: "btagl3"
  Title: "Btag L SF 3"
  Type: HISTO
  HistoNameSufUp: "btagl3up"
  HistoNameSufDown: "btagl3dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl4"
  Title: "Btag L SF 4"
  Type: HISTO
  HistoNameSufUp: "btagl4up"
  HistoNameSufDown: "btagl4dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl5"
  Title: "Btag L SF 5"
  Type: HISTO
  HistoNameSufUp: "btagl5up"
  HistoNameSufDown: "btagl5dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl6"
  Title: "Btag L SF 6"
  Type: HISTO
  HistoNameSufUp: "btagl6up"
  HistoNameSufDown: "btagl6dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl7"
  Title: "Btag L SF 7"
  Type: HISTO
  HistoNameSufUp: "btagl7up"
  HistoNameSufDown: "btagl7dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl8"
  Title: "Btag L SF 8"
  Type: HISTO
  HistoNameSufUp: "btagl8up"
  HistoNameSufDown: "btagl8dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl9"
  Title: "Btag L SF 9"
  Type: HISTO
  HistoNameSufUp: "btagl9up"
  HistoNameSufDown: "btagl9dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl10"
  Title: "Btag L SF 10"
  Type: HISTO
  HistoNameSufUp: "btagl10up"
  HistoNameSufDown: "btagl10dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btagl11"
  Title: "Btag L SF 11"
  Type: HISTO
  HistoNameSufUp: "btagl11up"
  HistoNameSufDown: "btagl11dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btage0"
  Title: "Btag Extrap SF 0"
  Type: HISTO
  HistoNameSufUp: "btage0up"
  HistoNameSufDown: "btage0dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "btage1"
  Title: "Btag Extrap SF 1"
  Type: HISTO
  HistoNameSufUp: "btage1up"
  HistoNameSufDown: "btage1dw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV
  Symmetrisation: TwoSided

Systematic: "ttxsec"
  Title: "ttbar Cross-Section"
  Type: HISTO
  HistoNameSufUp: "ttxsecup"
  HistoNameSufDown: "ttxsecdw"
  Samples: ttbar

#Systematic: "wmodel"
#  Title: "W+jets C/A SF"
#  Type: HISTO
#  HistoNameSufUp: "wmodelup"
#  HistoNameSufDown: "wmodeldw"
#  Samples: Wjets

Systematic: "lumi"
  Title: "Luminosity"
  Type: HISTO
  HistoNameSufUp: "lumiup"
  HistoNameSufDown: "lumidw"
  Samples: ttbar,Wjets,Zjets,singletop,Signal,VV

Systematic: "ttgen"
  Title: "tt generator"
  Type: HISTO
  HistoNameSufUp: "ttgen"
  HistoNameSufDown: "ttgen"
  Samples: ttbar
  Symmetrisation: TwoSided

Systematic: "ttps"
  Title: "tt parton shower"
  Type: HISTO
  HistoNameSufUp: "ttps"
  HistoNameSufDown: "ttps"
  Samples: ttbar
  Symmetrisation: TwoSided

Systematic: "ttisrfsr"
  Title: "tt ISR/FSR"
  Type: HISTO
  HistoNameSufUp: "ttisrfsr"
  HistoNameSufDown: "ttisrfsr"
  Samples: ttbar
  Symmetrisation: TwoSided

